{% extends "base.html" %}

{% block header %}
<h1>ComplimentYo</h1>
{% endblock %}

{% block content %}
<div id="info">
<p>Ever found yourself in a situation when you need to compliment someone and you couldn't find anything clever to say?</p>
</div>
<div id="list">
  <p>Now it's simple:</p>
  <ul>
  	<li>Click on <a href="http://justyo.co">here</a> to install the latest version of YO</li>
  	<li>Add COMPLIMENTYO as a contact</li>
    <li>Yo each time you need a compliment and we'll come to the rescue!</li>
  </ul>
</div>
{% endblock %}
